 
<ion-modal-view>
    <ion-header-bar>
      <h2 class="title">Resultados en {{moneda}}</h2>
      <button class="button button-default" ng-click="resultmodal.hide()" style='background:#000;color:#fff;'><i class="icon ion-close"></i></button>
    </ion-header-bar>
    <ion-content style='padding: 10px;'>


 
    <ion-list id="calculadora-list4">
      <ion-item id="calculadora-list-item11">Sueldo Mensual <span style='float:right;'>{{sueldomensualmuestra}}</span></ion-item>
      <ion-item id="calculadora-list-item12">Bono Produccion <span style='float:right;'>{{bonoproduccion}}</span></ion-item>


      <ion-item id="calculadora-list-item13">Bono Interpretacion<span style='float:right;'>{{bonointerpetria}}</span></ion-item>

      <h4>Provisiones Mensuales</h4>
      <ion-item id="calculadora-list-item14">Gratificaciones<span style='float:right;'>{{gratificacion}}</span></ion-item>
      <ion-item id="calculadora-list-item15">Vacaciones<span style='float:right;'>{{vacaciones}}</span></ion-item>

       <ion-item id="calculadora-list-item17">Utilidades<span style='float:right;'>{{utilidades}}</span></ion-item>

       <ion-item id="calculadora-list-item14">CTS<span style='float:right;'>{{gratificacion}}</span></ion-item>

      <h4>Subvenciones</h4>
      <ion-item id="calculadora-list-item16">Sub Dana<span style='float:right;'>{{subdana}}</span></ion-item>

      <hr style='border-color: #234;
background: #234;'></hr>
     
      <ion-item id="calculadora-list-item18" style='background: #fff;
color: #000;'>Tarifa Real<span style='float:right;'>{{tarifareal}}</span></ion-item>
    </ion-list>

    </ion-content>
</ion-modal-view>

